<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.shinobigames.yakitori"
      android:versionCode="1"
      android:versionName="1.0.0">

    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="16"/>
    
　   <!-- AppC Core Setting Start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- AppC Core Setting End -->
    
    <uses-feature android:glEsVersion="0x00020000" />

    <!-- AppC Push Setting Start -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="jp.shinobigames.yakitori.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <permission
        android:name="jp.shinobigames.yakitori.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- AppC Push Setting End --> 
    
    <application android:label="@string/app_name"
        android:icon="@drawable/icon">
        <!-- GameServices -->
        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.gms.appstate.APP_ID"
            android:value="@string/app_id" />
        
        <!-- AdMob -->
        <meta-data android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version"/>

        <activity android:name=".Yakitori"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="CCXWebview"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation">
        </activity>
        
        <!-- AppC Core Setting Start -->
        <meta-data
            android:name="appc_media_key"
            android:value="cdc2575cd2f92684890b6d615a273a527ec716c3" />
    
        <activity
            android:name="net.app_c.cloud.sdk.AppCAdActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|uiMode|touchscreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="net.app_c.cloud.sdk.AppCRecoveryActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|uiMode|touchscreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="net.app_c.cloud.sdk.AppCAgreementActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|uiMode|touchscreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- AppC Core Setting End -->
 
 


        <!-- AppC Core Setting Start -->
        <!-- warningが出ますが android:exportedの記述はしないでください -->
        <receiver android:name="net.app_c.cloud.sdk.AppCIDReceiver" >
            <intent-filter>
                <action android:name="jp.co.cayto.appc.sdk.android.remote.command.gid.search" />
                <action android:name="jp.co.cayto.appc.sdk.android.remote.command.gid.set" />
                <action android:name="jp.co.cayto.appc.sdk.android.remote.command.gid.remove" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="net.app_c.cloud.sdk.AppCPkgReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BootStrap" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
            
                <data android:scheme="package" >
                </data>
            </intent-filter>
        </receiver>
        <!-- AppC Core Setting End -->
     
 
        <!-- AppC Push Setting Start --> 
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" 
            android:permission="com.google.android.c2dm.permission.SEND" > 
            <intent-filter> 
                <action android:name="com.google.android.c2dm.intent.RECEIVE" /> 
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> 
                <category android:name="jp.shinobigames.yakitori" /> 
            </intent-filter> 
        </receiver> 
        <service android:name="net.app_c.cloud.sdk.AppCPushService" /> 
        <!-- AppC Push Setting End --> 
        <!-- AdMob -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

    </application>
    <supports-screens android:largeScreens="true"
                      android:smallScreens="true"
                      android:anyDensity="true"
                      android:normalScreens="true"/>
                         
    
</manifest> 
