<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fukidashi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{578,272}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{578,272}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>fukidashi_order.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>gauge_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{280,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,48}}</string>
                <key>sourceSize</key>
                <string>{280,48}</string>
            </dict>
            <key>gauge_base2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,680},{276,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{276,44}}</string>
                <key>sourceSize</key>
                <string>{280,48}</string>
            </dict>
            <key>gauge_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,680},{274,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{274,42}}</string>
                <key>sourceSize</key>
                <string>{280,48}</string>
            </dict>
            <key>human.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,680},{100,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,148}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>human_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,378},{100,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,148}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>human_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,276},{100,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,148}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>rare_alert.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,204},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>sale_waku.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,680},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>thanks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{386,200}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>well_done_alert.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>yakitori1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,480},{44,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,602},{48,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,976},{46,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,654},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,776},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,654},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,480},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,480},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,602},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,480},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,802},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,924},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori5.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,680},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,802},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,680},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,952},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,956},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{50,120}</string>
            </dict>
            <key>yakitori_pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,830},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_main.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5062feeb896a743508236d4f6e5ca71e:871fdf190320590777d28b26f828a825:194d3e7c97a4587c99947ddce79afb3e$</string>
            <key>textureFileName</key>
            <string>game_main.png</string>
        </dict>
    </dict>
</plist>
